{% extends "base.html" %}
{% block title %}Register{% endblock %}
{% block head %}
	{{super()}}
{% endblock %}
{% block body %}
	{{super()}}
	<div class="middle_content">
		{% if length > 0 %}
			<h1>Here are your friends</h1>
		    <table class="table table-striped">
				<thead>
					<tr>
						<th>Name</th>
						<th>Address</th>
						<th>Age</th>
					</tr>
				</thead>
				<tbody>
					{% for friend in fr %}
					   <tr>
						   <td>{{friend.name}}</td>
						   <td>{{friend.address}}</td>
						   <td>{{friend.age}}</td>
					   </tr>
					{% endfor %}
				</tbody>
			</table>
		{% else %}
			<h1>Hi {{current_user.username}}!</h1>
		    <p>You done have any friends at the moment.</p>
		    <p>Use the 'Add Friend' link from navbar to add one or more:)</p>
		{% endif %}
	</div>
{% endblock %}